.search{
    flex:auto;
    text-align: center;
    height: 15vh;
    
}
input{
    width: 60vh;
}
button{
    width: 20vh;
}
.searchBar{
    font-size: 2vh;
    height: 5vh;
    margin-bottom: 4vh;
}
.results{
    margin-bottom: 1vh;
}