.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-top: 70px;
}

input {
    width: 60vh;
}

.searchBar {
    font-size: 2vh;
    height: 5vh;
    margin-bottom: 4vh;
}

.search .searchResults {
    width: 450px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}