.space-x-72 > *:not(:first-child) {
  margin-left: 4.5rem;
}
.image {
  margin-top: auto;
  width: 3rem;
  height: 3rem;
}

.hyperlink {
  font-size: 1.88rem;
  font-family: Inter;
  line-height: 1.78rem;
  color: #40b623;
  text-decoration: underline;
  margin-top: 3.63rem;
}
