/* Entire page of Restaurant page */

.details {
    margin: 0;
    padding: 0;
}


/* Title, address and operating hours of 
restaurant */

.block-1 {
    height: 17vh;
    padding: 0;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 18vh;
}

.times {
    height: 8vh;
    line-height: 0.2;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/*Bottom buttons */

.block-3 {
    height: 3vh;
    display: flex;
    justify-content: space-evenly;
}


/* Dine in, takeaway and number of feedbacks */

.block-2 {
    height: 13vh;
    padding: 5%;
    text-align: left;
    display: flex;
    align-items: center;
}

.child-1 {
    width: 280px;
}


/* p of page */

.details p {
    width: 80%;
    padding: 5px;
}


/* buttons of page */

.details button {
    width: 200px;
}


/* a of page */

.details a {
    text-decoration: none;
    color: white;
    text-align: center;
}


/* image of restaurant */

.details img {
    width: 32px;
    height: 32px;
    color: white;
}


/* Oddle icon in oddle button */

.website {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* Open all feedbacks */

.launch-icon:hover {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.feedbackbox {
    margin-top: 10px;
    border: black 3px solid;
    border-radius: 10px;
    padding: 15px;
}

.box-1 {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.feedbackbox .box-2 {
    text-align: left;
    margin-top: 10px;
    border: black 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.feedbackbox .star {
    color: gold;
}