.forgotPassword-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: auto;
    margin: auto;
    height: 100vh;
    width: 30vw;
}

.forgotPassword-form>* {
    margin-bottom: 10%;
}

#forgotPassword-displayContainer {
    opacity: 0;
}

#forgotPassword-return {
    opacity: 0;
    pointer-events: none;
}