/* Entire forgotPassword form */

.forgotPassword-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: auto;
  margin: auto;
  height: 100vh;
  width: 30vw;
}

/* All contents of forgotPassword form */

.forgotPassword-form > * {
  margin-bottom: 10%;
}

/* Password displayer after submission */

#forgotPassword-displayContainer {
  opacity: 0;
}

/* Return button to LoginPage */

#forgotPassword-return {
  opacity: 0;
  pointer-events: none;
}

#forgotPassword-return a {
  text-decoration: none;
  color: white;
}

#forgotBtn {
  height: 50px;
  border-color: black;
  border-style: solid;
  border-radius: 40.5px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #41b723;
  font-size: 1.2rem;
}

/* Hovering over buttons */

#forgotBtn:hover {
  background-color: #69df4c;
  cursor: pointer;
}
