/* Entire forgotPassword form */

.forgotPassword-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: auto;
    margin: auto;
    height: 100vh;
    width: 30vw;
}


/* All contents of forgotPassword form */

.forgotPassword-form>* {
    margin-bottom: 10%;
}


/* Password displayer after submission */

#forgotPassword-displayContainer {
    opacity: 0;
}


/* Return button to LoginPage */

#forgotPassword-return {
    opacity: 0;
    pointer-events: none;
}