.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #3A5A40;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 8px;
    width: 100px;
    height: 45px;
}

.popup-inner .close-btn:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
}