.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: #dcdcdc;
  border-bottom-width: 2px;
  height: 60px;
}

.location-name {
  /* fontFamily: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;  */
  color: black;
}
