.bm-burger-button {
    position: sticky;
    width: 30px;
    height: 25px;
    margin-top: 3px;
    margin-right: 20px;
}

.menu-item {
    color: white;
    text-decoration: underline;
}


/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: black;
}


/* Color/shape of burger icon bars on hover*/

.bm-burger-bars-hover {
    background: #2d302c;
}


/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 40px;
    width: 40px;
}


/* Color/shape of close button cross */

.bm-cross {
    background: white;
}


/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */

.bm-menu-wrap {
    position: sticky;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}


/* General sidebar styles */

.bm-menu {
    background: #41b723;
    font-size: 1.3em;
    overflow-y: hidden !important;
}


/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: #373a47;
}


/* Wrapper for item list */

.bm-item-list {
    color: white;
    padding: 0.8em;
    margin-top: 10px;
}


/* Individual item */

.bm-item {
    display: inline-block;
    margin-top: 10%;
}


/* Styling of overlay */

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}