.star-rating button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.on {
    color: rgb(135, 135, 33);
}

.off {
    color: rgb(240, 240, 225);
}