/* Whole feedback form */

.feedbackForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Feedback form header */

.details {
    text-align: center;
}


/* Form contents */

.feedbackblock-2 {
    margin-top: 150px;
    padding: 50px;
    border: 3px solid black;
}


/* Second part of form */

.experience {
    margin-top: 50px;
}


/* all span on page */

.feedbackForm span {
    font-size: 1.5rem;
}


/* Character count and submit button */

.feedbackBottom {
    display: flex;
    justify-content: space-between;
}


/* Experience textbox */

.feedbackblock-3 {
    margin-top: 20px;
}

.exp {
    padding: 10px;
    width: 67vw;
    text-align: left;
    word-wrap: break-word;
}


/* Submit button  */

button {
    width: 150px;
}