/* Whole feedback form */

.feedbackForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Feedback form header */

.details {
    text-align: center;
}


/* Form contents */

.feedbackblock-2 {
    margin-top: 60px;
    padding: 30px;
    width: 68vw;
    height: 55vh;
    background-color: #A3B18A;
    border-radius: 4px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
}


/* Second part of form */

.experience {
    margin-top: 50px;
}


/* all span on page */

.feedbackForm span {
    font-size: 1.5rem;
}


/* Character count and submit button */

.feedbackBottom {
    display: flex;
    justify-content: space-between;
}

.feedbackblock-2 .exp {
    padding: 10px;
    width: 67vw;
    text-align: left;
    word-wrap: break-word;
}


/* Submit button  */

.feedbackBottom button {
    width: 150px;
}