.imgAndStats .background {
    background-image: url("../../../public/LettuceBG.png");
    height: 450px;
    width: 360px;
}

.aligner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgAndStats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.stats {
    display: flex;
    height: 75%;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
}

.daily {
    display: inline;
    font-size: x-large;
}

.customInput {
    gap: 10vh;
}

.helloUser {
    font-size: 2.5rem;
    width: 240px;
    font-style: oblique;
    display: flex;
    justify-content: space-evenly;
}

.aligner .customInput {
    display: flex;
    justify-content: center;
    width: 200px;
    margin-top: 50px;
    background-color: #A3B18A;
    border-radius: 5px;
    border: 1px solid white;
}