.background{
    flex: auto;
    flex-direction: column;
    background-image: url("../../../public/LettuceBG.png");
    background-position:right;
    background-color: white;
    background-repeat: no-repeat;
}