.container{
    margin-left: 10vw;    
    flex:auto;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.daily{
    display: inline;
}

.bar{
    height:fit-content;
}

.customInput{
   gap: 10vh;
}