.homechoices-container {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 100px);
}

.homechoices-choice {
    background-color: #41B723;
    width: 20vw;
    height: 80%;
    text-align: center;
    padding: 20px;
    margin: auto;
    box-shadow: 10px 10px 5px 12px rgb(231, 230, 230);
}

.homechoices-choice:hover {
    transform: scale(1.1);
    cursor: pointer;
}