/* Title of homepage */

.homechoices-parent-container {
    background-color: #DAD7CD;
    height: 92.8vh;
}

.homechoices-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0 30px 0;
}


/* All selections on the homepage */

.homechoices-container {
    background-color: #DAD7CD;
    display: flex;
    justify-content: space-around;
    height: 480px;
    margin-top: 43px;
}


/* Each selection on homepage */

.homechoices-choice {
    background-color: #344E41;
    width: 20vw;
    height: 85%;
    margin: auto;
    padding: 26px;
    text-align: center;
}


/* Hovering over a selection */

.homechoices-choice:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* Subheadings of the page */

.homechoices-parent-container span {
    font-size: 2rem;
    word-wrap: break-word;
}


/* Heading of each selection */

.homechoices-choice h1 {
    font-size: 2.2rem;
}


/* Description of each selection */

.homechoices-choice span {
    font-size: 1.4rem;
}


/* All a content on page */

.homechoices-container a {
    text-decoration: none;
    color: white;
}

.homechoices-title .userDisplay {
    display: flex;
    align-items: center;
    align-content: space-between;
}

.userDisplay .username {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Microsoft Yahei", sans-serif;
    margin-left: 5px;
    font-size: 2.9rem;
}